body {
    background-color: #fc69ab;
    color: #000000;
    margin-left: 50px;
    margin-top: 70px;
    margin-right: 50px;
}

/* Estilos para los inputs */
input[type="text"],
input[type="submit"],
input[type="reset"],
input[type="radio"],
input[type="checkbox"] {
    border-radius: 15px;
    padding: 2px;
}

/* Estilos para el botón de guardar */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Estilos para el botón de eliminar */
input[type="reset"] {
    background-color: #e96060; /* Rojo */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
}

input[type="reset"]:hover {
    background-color: #ec7272; /* Rojo más claro al pasar el mouse */
}

/* Estilos para las opciones del select */
option {
    padding: 5px;
}

/* Estilos para el contenedor del select */
.select-container {
    position: relative;
    width: 100%;
}

/* Estilos para el ícono del select */
.select-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Estilos para la imagen fondo.jpg */
.imagen-fondo {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)), url('../img/fondo.jpg');
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 200px;
    /* Ajusta según tu diseño */
    margin-right: 100px;
    /* Ajusta según tu diseño */
    margin-top: 50px;
    /* Ajusta según tu diseño */
    color: #7b69fc;
    height: 300px;
    /* Ajusta según tu diseño */
    width: 800px;
    /* Ajusta según tu diseño */
    /* Añade más propiedades según sea necesario */
}

/* Estilos para la imagen descarga.jpg */
img {
    float: right;
    vertical-align: bottom;
    border-radius: 10px;
    width: 550px;
    height: 330px;
    filter: drop-shadow(0 0 10px #fcd469);
    /* Añade más propiedades según sea necesario */
}